# ==========编译输出产物（必须过滤==========
novosns/*/build/
*.elf
*.bin
*.hex
*.axf
*.o
*.d
*.su
*.lst
*.map

# =========RT‑Thread工具生成文件==========
novosns/*/.config
novosns/*/package_lock.json

# =========Python虚拟环境、缓存==========
.venv/
venv/
__pycache__/
*.pyc

# =========VSCode、编辑器本地配置（可选）==========
.vscode/
*.swp
*~
.DS_Store
